@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
body {
  background-color: black;
}
.nav-1 {
    position: relative;
    .pos-1{
        width: 129px;
height: 129px;
position: absolute;
border-radius: 50%;
top: 461px;
left: 636px;
border: 1px solid white;

    }
  h3 {
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 32px;

    line-height: 32px;
    letter-spacing: -0.44px;
    color: #ffffff;
  }

  .left {
       .hh5{
        font-family: Space Grotesk;
font-weight: 700;
font-size: 16px;
color: rgb(78, 225, 160);
cursor: pointer;
line-height: 26px;
letter-spacing: 2.29px;
padding-top: 66px;
      }
    .inner {
      
      width: 445px;
      height: 84px;
      p {
        font-family: Space Grotesk;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        color: #d9d9d9;
        margin-top: 43px;
        line-height: 28px;
        letter-spacing: 0px;
      }
    }
    margin-top: 65px;
    

    h1 {
      font-family: Space Grotesk;
      font-weight: 700;
      font-style: Bold;
      font-size: 88px;

      line-height: 88px;
      letter-spacing: -2.5px;
      color: white;
      span{
        border-bottom: solid 6px  #4EE1A0;

      }
     
    }
  }
  .right{
    width: 445px;
height: 720px;
    left: 695px;
        top: -1rem;
        z-index: -1;
        background-color:  #242424;

.im-1
    {
        width: 444.8760681152344px;
/* height: 618px; */


  
    }
    .inner-2{
        padding-top: 43px;
        padding-bottom: 29.51px;
    
    }
  }

  
}
.hero{
    width: 100%;
    padding-top: 72px;
    margin-top: 300px;
    border-top: 1px solid white;
    position: relative;
    .in-1
    {
        width: 345px;
        h4{
            font-family: Space Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 48px;
color: white;
line-height: 56px;
letter-spacing: -1.5px;

        }
        p{
            font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 18px;
color: gray;
line-height: 28px;
letter-spacing: 0px;

        }
    }
    .pos-2{
        width: 530;
height: 129;

opacity: 0.5;

left: 950px;
position: absolute;
top: 220px;
z-index: 5;
    }
}
.sec-1{
  margin-top: 140px;
  h2{
    width: 334px;
height: 88px;
color: white;
font-family: Space Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 88px;

line-height: 88px;
letter-spacing: -2.5px;

  }
  .a-1{
    


font-family: Space Grotesk;
font-weight: 700;
font-size: 16px;
color: white;
line-height: 26px;
letter-spacing: 2.29px;
text-decoration: none;
border-bottom: #4EE1A0 solid 1px;
  }
  .big-1{
    margin-top: 80px;
   .card-body{
    width: 47.5%;
height: 400px;


   }
   .in-2{
    margin-top: 130px;
   }
   .card-footer{
    width: 225;
height: 67;
background-color: black;
h4{
  font-family: Space Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 24px;
color: white;
line-height: 32px;
letter-spacing: 0px;

}
  p{
    font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 18px;
color: gray;
line-height: 28px;
letter-spacing: 0px;

  }
   }
  }
}
.sec-2{
  margin-top: 144px;
  background: rgba(36, 36, 36, 1);
.in-left{
  h2{
  width: 330;
height: 88;

font-family: Space Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 88px;
color: white;
line-height: 88px;
letter-spacing: -2.5px;
}
p{
  width: 445;
height: 84;

opacity: 1;
top: 124px;
font-family: Space Grotesk;
font-weight: 500;
font-style: Medium;
font-size: 18px;
color: white;
line-height: 28px;
letter-spacing: 0px;

}
}
.in-right{
  .right{
  width: 445;
height: 327;

input{
  width: 445px;
/* height: 1; */
border-top: none;
border-left: none;
border-right: none;
outline: none;
background-color: #242424;
top: 42px;
border-bottom: #4EE1A0 3px solid;
padding: 1rem;
}
::placeholder{
  font-family: Space Grotesk;
font-weight: 500;
font-size: 16px;
color: rgb(255, 255, 255);

line-height: 26px;
letter-spacing: -0.22px;

}
.inp-2{
    width: 445px;
/* height: 1; */
border-top: none;
border-left: none;
border-right: none;
outline: none;
background-color: #242424;
top: 42px;
border-bottom: #d60000 3px solid;
padding: 1rem;
}
.inp-3{
  width: 445px;
height: 107px;

border: 1px solid rgba(255, 255, 255, 0.521);
top: 3431px;
left: 830px;

}
}
.justify-end{
  width: 144px;
height: 38px;


}

}
.a-1{
 color: #4EE1A0;
font-size: 18px;
border-bottom: #4EE1A0 2px solid;

}
.last{
  h3{
    font-family: Space Grotesk;
font-weight: 700;
font-size: 32px;
color: white;
line-height: 32px;
letter-spacing: -0.44px;

  }
}
}
